.wrapper {
    margin-bottom: 1rem;
}

.input {
    width: 100%;
    border: 1px solid var(--fourth-color);
    display: block;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background: var(--fourth-color);
    transition: 0.2s;
}

.input:hover,
.input:focus {
    outline: none;
    border-color: var(--second-color);
    background: white;
    box-shadow: 0 0 0 3px #fea;
}

.label {
    display: block;
    font-size: 1rem;
    line-height: 1.2;
    padding-bottom: 0.5rem;
}

.error {
    color: #f31;
    font-size: .875rem;
}