* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding-top: 4rem;
  --first-color: #333;
  --second-color: #fb1;
  --third-color: #764701;
  --fourth-color: #eee;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  color: var(--first-color);
  font-family: var(--type-first);
}

h1, h2, h3, h4, p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
}

a::hover {
  text-decoration: none;
}

fieldset, legend {
  margin: 0;
  padding: 0;
  position: static;
  border: 0;
  top: auto; left: auto;
  float: none;
  display: block;
  font-size: 14px;
  line-height: 18px;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: #fb1;
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}